.list-group-item-done {
  text-decoration: line-through;
  background-color: #efefef;
}
.list-group-item-hide {
  display: none;
}
.form-edit {
  float: left;
  width: 80%;
}
.btn-success {
  margin-right:3px;
}