.list-group-item-done {
  text-decoration: line-through;
  background-color: #efefef;
}
.list-group-item-hide {
  display: none;
}
.form-edit {
  float: left;
  width: 80%;
}
.list-group-item {
  .btn:not(:last-child) {
    margin-right:3px;
  }
}